/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer {
  padding-top: 25px;
  min-height: 75px;
  background-color: #eee;
}

.footer p {
	color: white;	
}

.navbar {
	background-color: #51729c;
}

.navbar .title {
	color: white;
	float: left;
	padding: 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
}

.navbar .logo {
	margin:12px; 
	height: 25px;
	float: left;
	padding-right: 10px; 
}